﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 60px;
    height: 80px;
}

header {
    width: 100%;
    height: 80px;
    background: #003162;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}



header .contenedor {
    display: table;
}





.grafico {
    height: 350px;
    width: 100%;
    clear: both;
}

@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}


footer {
    width: 100%;
    background-color: #003162;
}
/*azul oscuro*/
#content_footer {
    padding: 20px 0;
    display: table;
}

.content_info_footer {
    color: white;
    text-align: center;
}

    .content_info_footer span {
        font-size: 1.6rem;
        margin-bottom: 10px;
        display: block;
    }

    .content_info_footer a {
        font-size: 1.5rem;
        color: white;
        margin: 10px 0;
        display: block;
    }

#nav_footer {
    color: white;
    text-align: center;
}

    #nav_footer li {
        display: inline-block;
        margin: 0 5px;
    }

        #nav_footer li a {
            color: white;
        }

            #nav_footer li a:hover {
                color: red;
            }

.logo_footer {
    width: 100px;
    display: block;
    margin: 12px auto;
}

    .logo_footer img {
        width: 100%;
        height: auto;
    }

/*Clear*/
.clear {
    clear: both;
    height: 0px;
}




#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 49, 98,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
    margin-top: 5%;
}

@media (max-width:1022px) {
    .logo {
        display: none;
    }
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

    .menu a:hover {
        background: rgba(0, 165, 194,0.3);
    }

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

    .logo {
        margin-left: 5px;
        margin-right: 10px;
    }

    .menu a {
        border: none;
    }

    header label {
        display: none;
    }
}

/*css Inicio sesion*/
.overlay {
    position:absolute;
    background-image: url('../img/Fondologin.jpg');
    top: 80px;
    left: 0;
    width: 100%;
    height: 128%;
}



/*movimiento del fondo*/
.inih1 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Helvetica;
    font-size: 50px;
    color: #fff;
    margin-top: 15%;
    margin-bottom:10px;
}

@-webkit-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-moz-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-o-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-ms-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

.fa-newspaper-o {
    font-size: 70% !important;
    margin-right: 10px;
    position: relative;
    top: -4px;
}

a {
    font: 17px Raleway;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    opacity: 0.6;
}

    a:hover {
        opacity: 1;

    }

.fa-user, .fa-question {
    margin-right: 5px;
}

.fa-user {
    margin-left: 5px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
}

    .wrapper.form-success .container h1 {
        -webkit-transform: translateY(85px);
        transform: translateY(85px);
    }

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}



form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.log {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
    font-weight: bold;
}

.log:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

    .log:focus {
        background-color: white;
        width: 300px;
        color: rgba(0,0,0,.9);
    }

/*Botones */

#Entrar, #Entrar2,
#Entrar::after, #Entrar2::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#Entrar, #Entrar2, #Entrar3{
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    width: 250px;
}

    #Entrar::before, #Entrar2::before, Entrar3::before
    #Entrar::after, #Entrar2::after, #Entrar3::after {
        background: #fff;
        content: '';
        position: absolute;
        z-index: -1;
    }

    #Entrar:hover, #Entrar2:hover, #Entrar3:hover {
        background: -webkit-linear-gradient(#fff,#fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-shadow: -16px 9px 15px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: -16px 9px 15px -4px rgba(0,0,0,0.75);
        box-shadow: -16px 9px 15px -4px rgba(0,0,0,0.75);
    }
@media (min-width:500px) {
    .centrado {
        display: block;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        width: 500px;
    }
}
@media (max-width:500px) {
    .centrado {
        display: block;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        width:100%;
    }
}

    /*Termima los botones*/
    /* Fin Inicio secion*/
    /*registro*/
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);




    .registro {
        margin-bottom: 8%;
        margin-top: 8%;
        margin-left: auto;
        margin-right: auto;
        width: 343px;
        padding: 30px;
        border: 1px solid rgba(0,0,0,.3);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
        box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
        overflow: hidden;
    }









    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.9);
    }

    :-moz-placeholder {
        color: rgba(255, 255, 255, 0.9);
    }

    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.9);
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.9);
    }







    /*fin registro*/


    .label {
        text-align: center;
        font-family: Helvetica;
        margin-left: 15px;
        margin-bottom: 20px;
        color: #fff;
        font-size: 26px;
    }

    .labelre {
        text-align: center;
        font-family: Helvetica;
        margin-left: 80px;
        margin-bottom: 30px;
        color: #fff;
        font-size: 28px;
    }

    .select {
        font-weight: bold;
        width: 276px;
        height: 46px;
        border: 1px solid rgba(255,255,255,.4);
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        background: rgba(255, 255, 255, 0.2);
        font-size: 18px;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }

        .select:focus {
            color: rgba(0, 0, 0,.9);
        }
    /*iconos de pagina principal*/
    .espacio {
        padding-top: 90px;
    }

    .espaciob {
        padding-top: 30%;
    }


    #iconos {
        color: white;
        text-decoration: none;
        padding: 20px;
        width: 60%;
    }

        #iconos .row .col {
            color: white;
            text-align: center;
            margin-top: 20px;
            padding: 3rem 0;
            cursor: pointer;
            text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
            opacity: 0.8;
            text-decoration: none;
        }

            #iconos .row .col:hover {
                color: white;
                text-decoration: none;
                opacity: 1;
            }

            #iconos .row .col .fa {
                color: white;
                text-decoration: none;
                font-size: 4rem;
                display: block;
                -webkit-transition: -webkit-transform .8s;
                transition: transform .8s;
            }

            #iconos .row .col:hover .fa {
                color: white;
                text-decoration: none;
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }

        #iconos .row .green {
            background: #298497;
        }

        #iconos .row .blue {
            background: #63c2c1;
        }

        #iconos .row .orange {
            background: #277E88;
        }

        #iconos .row .blue2 {
            background: #17325D;
        }

        #iconos .row .green2 {
            background: #026466;
            margin-bottom: 20px;
        }
    /**/

    /*# sourceMappingURL=normalize.min.css.map */
    /*Fin de los iconos */
    /*banner Default*/


    .rowb .colb {
        width: 100%;
        font-size: 20px;
        color: white;
        text-align: center;
        margin-top: 20px;
        padding: 3rem 0;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        opacity: 0.8;
    }

        .rowb .colb :hover {
            color: white;
            opacity: 1;
        }



    .rowb .un {
        background: #298497;
    }

    .rowb .dos {
        background: #63c2c1;
    }

    .rowb .tre {
        background: #277E88;
    }

    .rowb .for {
        background: #17325D;
    }

    .rowb .five {
        background: #026466;
    }
    /*Fin Banner*/
    /*factura*/
    /*Formulario*/


    * {
        box-sizing: border-box;
    }

    .bodyEs {
        font-size: 1rem;
        font: 17px Raleway;
    }

    .h1Es {
        font-size: 2em;
        color: whitesmoke;
        font-weight: 400;
        margin-bottom: 0.5em;
        margin-top: 0;
    }




    .containerEs {
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1.5em;
    }

    .formEs > .divEs {
        display: flex;
        flex-wrap: wrap;
    }


        .formEs > .divEs > .labelEs {
            min-width: 20%;
            padding: 10px;
        }


    .formEs > .divEs {
        margin-bottom: 1em;
    }

    .labelEs {
        font-size: 18px;
        margin-bottom: 1em;
        margin-top: 0;
        display: block;
        color: #026466;
        font-weight: bold;
    }


    .titulos {
        color: #026466;
        min-width: 100%;
        font-weight: bold;
    }

    .inputEs {
        border-radius: 10px;
        font: inherit;
        margin: 0;
        margin-top: 0.5em;
        line-height: normal;
    }

    .textareaEs {
        line-height: 1.25em;
    }

    .selectEs {
        border: 1px solid #ccc;
        background-color: #fff;
    }

    .inputradioEs {
        box-sizing: border-box;
        padding: 0;
        display: block;
        margin-right: 0.25em;
        margin-top: 2px;
        float: left;
        clear: both;
    }

    .inputEs, .inputradioEs, .selectEs {
        border: 1px solid #298497;
        border-bottom: 3px solid #298497;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 2px;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        max-width: 100%;
        padding: 0.5em 0.6em;
        margin-bottom: 0.5em;
    }

    .textareaEs {
        border: 1px solid #298497;
        border-bottom: 3px solid #298497;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 2px;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 280px;
        padding: 0.5em 0.6em;
        margin-bottom: 0.5em;
    }

        .inputEs:focus:invalid,
        .textareaEs:focus:invalid,
        .selectEs:focus:invalid {
            color: #000;
            border-color: #e9322d;
        }

    .buttonEs {
        font-size: 20px;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #003162;
        color: white;
        border: 3px solid white;
    }


        .buttonEs:hover {
            background-color: #277E88; /* Green */
            color: white;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

    /*fin formulario*/

    /*VISITAS*/


    /** Custom Switch **/


    .gridview {
        margin: 5px;
        border: none;
        background-color: #F0F1F3;
        width:100%
    }

        .gridview tr {
            text-align: left;
            border- border-bottom: solid;
            background-color: #298497;
            border-color: #FFFFFF;
            border-width: 10px;
            font-size: medium;
        }

        .gridview th {
            border: none;
            background-color: #003162;
            padding: 5px;
        }

        .gridview td {
            border: none;
            padding: 15px;
            margin: 5px;
        }

.hooola {
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
  
}
/*/Contactenos/*/


.style_title {
    position: relative;
    width: 100%;
    background-color: #026466;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin: 170px 0 40px 0;
}

section {
    display: block;
}
    .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
.bloque{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
