@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?qum5yo');
    src: url('fonts/icomoon.eot?qum5yo#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?qum5yo') format('truetype'), url('fonts/icomoon.woff?qum5yo') format('woff'), url('fonts/icomoon.svg?qum5yo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e902";
}

.icon-forward:before {
    content: "\e969";
}

.icon-user:before {
    content: "\e971";
}

.icon-user-plus:before {
    content: "\e973";
}

.icon-user-tie:before {
    content: "\e976";
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-cross:before {
    content: "\ea0f";
}
